{% extends "dashboard/management_base.html" %}
{% load tags %}

{% block page_css_style %}
    <link rel="stylesheet" type="text/css" href="/static/app-assets/vendors/css/weather-icons/climacons.min.css">
    <link rel="stylesheet" type="text/css" href="/static/app-assets/fonts/meteocons/style.css">
    <link rel="stylesheet" type="text/css" href="/static/app-assets/vendors/css/charts/morris.css">
    <link rel="stylesheet" type="text/css" href="/static/app-assets/vendors/css/charts/chartist.css">
    <link rel="stylesheet" type="text/css" href="/static/app-assets/vendors/css/charts/chartist-plugin-tooltip.css">
    <link rel="stylesheet" type="text/css" href="/static/app-assets/css/core/menu/menu-types/vertical-menu-modern.css">
    <link rel="stylesheet" type="text/css" href="/static/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/static/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/static/app-assets/css/pages/timeline.css">
    <link rel="stylesheet" type="text/css" href="/static/app-assets/css/pages/dashboard-ecommerce.css">
{% endblock %}

{% block page_js %}
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="/static/app-assets/vendors/js/charts/raphael-min.js" type="text/javascript"></script>
    <script src="/static/app-assets/vendors/js/charts/morris.min.js" type="text/javascript"></script>
    <script src="/static/app-assets/vendors/js/timeline/horizontal-timeline.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->

    <script src="/static/assets/js/orders.js" type="text/javascript"></script>

    <script>
        jQuery(document).ready(function () {
            Orders.init()
        });
    </script>

{% endblock %}


{% block content %}
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">Orders</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'secure.orders' %}">Orders</a>
                            </li>
                            <li class="breadcrumb-item active">Orders List
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-header-right col-md-6 col-12">
                <div class="dropdown float-md-right">
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Recent Transactions -->
            <div class="row">
                <div id="recent-transactions" class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                <a data-id="{{ order.pk }}" href="{% url 'secure.invoice.profile' id=invoice.id %}"
                                   class=""> <i class="la la-dot-circle-o success font-medium-1 mr-1"></i>
                                    Invoice: {{ invoice.uuid }} <span class="badge badge-success">Paid</span></a>


                            </h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <a data-action="expand"><i class="ft-maximize"></i></a>
                                <a id="re-loader" data-action="reload"><i class="ft-rotate-cw"></i></a>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <table id="recent-orders" class="table table-hover table-xl mb-0">
                                    <thead>
                                    <tr>
                                        <th class="border-top-0 d-none d-sm-none d-md-none d-md-table-cell">#</th>
                                        <th class="border-top-0 d-none d-sm-none d-md-none d-lg-none  d-xl-table-cell">
                                            Order Number
                                        </th>
                                        <th class="border-top-0">Products</th>
                                        <th class="border-top-0 text-center">Amount</th>
                                        <th class="border-top-0 text-center">Unit</th>
                                        <th class="border-top-0 text-center">Option</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in invoice.get_active_orders %}
                                        <tr>
                                            <td scope="row"
                                                class="d-none d-sm-none d-md-none d-md-table-cell"> {{ forloop.counter }}</td>
                                            <td class="d-none d-sm-none d-md-none d-lg-none  d-xl-table-cell">{{ order.order_number }}</td>
                                            <td>
                                                <p>{{ order.product.name }}</p>
                                                <p class="text-muted">{{ order.description }}</p>
                                            </td>
                                            <td class="text-center">{{ order.amount|to_int }}</td>
                                            <td class="text-center">{{ order.product.get_units_display }}</td>
                                            <td class="text-center">
                                                <a type="button" href="#" data-action="reload" data-id="{{ order.pk }}"
                                                   data-toggle='modal' data-target='merge-confirm-modal'
                                                   class="btn btn-sm  btn-icon btn-pure secondary remove-order"><i
                                                        class="la la-remove"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Recent Transactions -->
        </div>
    </div>
{% endblock %}